.formdiv{
    width: 50%;
    margin: 20px 0;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    padding: 15px 10px;
}

label{
    font-family: var(--font_Julee);
}

.submitbtn{
    font-family: var(--font_Julee) !important;
}

@media screen and (max-width: 700px) {
    .formdiv {
      width: 80%;
    }
  }

