
:root{
    --font_Arima_Madurai: 'Arima Madurai', cursive;
    --font_Dongle: 'Dongle', sans-serif;
    --font_Julee: 'Julee', cursive;
    --font_Rubik: 'Rubik', sans-serif;
}


#head{
    font-family: var(--font_Julee);
    font-size: 2em;
    margin-left: 60px;
}

#homebtn, #createbtn{
  font-family: var(--font_Julee);
}

.searchicon{
  cursor: pointer;
}

@media screen and (max-width: 780px) {
    #head {
      margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
  #head {
    margin-right: 110px;
  }
}